<a href="https://colab.research.google.com/github/illiyas-sha/Netflix-Recommendation-Engine/blob/main/Netflix_Recommendation_Engine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Recommendation Engine

Content Based Engine

## Importing data from Kaggle

In [ ]:
 ! pip install -q kaggle

In [ ]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"illiyas","key":"61dbcecfb0278891c889a7147177854a"}'}

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

In [ ]:
! kaggle datasets download -d shivamb/netflix-shows/netflix_titles.csv

netflix-shows.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
ls

kaggle.json  netflix-shows.zip  sample_data/

In [ ]:
! unzip netflix-shows.zip  && rm netflix-shows.zip

Archive:  netflix-shows.zip
  inflating: netflix_titles.csv

## Loading the data

In [ ]:
### Importing the libraries
import numpy as np
import pandas as pd
import re

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
data = pd.read_csv('/content/netflix_titles.csv')
data.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [ ]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
data = data.dropna(subset=['cast', 'country', 'rating','duration'])

In [ ]:
data.groupby('type').count()

         show_id  title  director  ...  duration  listed_in  description
type                               ...
Movie       6131   6131      5943  ...      6128       6131         6131
TV Show     2676   2676       230  ...      2676       2676         2676

[2 rows x 11 columns]

The data have two types of videos. 
1. Movie
2. TV Shows

### Movies Data

In [ ]:
movies_data = data[data['type'] == 'Movie'].reset_index()

In [ ]:
# Removing these columns : index , show_id , date_added , release_year , description

In [ ]:
movies_data = movies_data.drop(['index', 'show_id', 'date_added', 'release_year', 'description'], axis=1)

In [ ]:
movies_data.head()

    type  ...                                         listed_in
0  Movie  ...  Dramas, Independent Movies, International Movies
1  Movie  ...                                  Comedies, Dramas
2  Movie  ...                      Dramas, International Movies
3  Movie  ...   Comedies, International Movies, Romantic Movies
4  Movie  ...                                          Comedies

[5 rows x 8 columns]

### TV Shows Data

In [ ]:
tv_data = data[data['type'] == 'TV Show'].reset_index()

In [ ]:
# Removing these columns : index , show_id , date_added , release_year , description

In [ ]:
tv_data = tv_data.drop(['index', 'show_id', 'date_added', 'release_year', 'description'], axis=1)

In [ ]:
tv_data.head()

      type  ...                                          listed_in
0  TV Show  ...    International TV Shows, TV Dramas, TV Mysteries
1  TV Show  ...  International TV Shows, Romantic TV Shows, TV ...
2  TV Show  ...                       British TV Shows, Reality TV
3  TV Show  ...                             TV Comedies, TV Dramas
4  TV Show  ...  Crime TV Shows, Spanish-Language TV Shows, TV ...

[5 rows x 8 columns]

In [ ]:
actors = []

for i in movies_data['cast']:
    actor = re.split(r', \s*', i)
    actors.append(actor)

In [ ]:
actors

In [ ]:
flat_list = []

for sublist in actors:
    for item in sublist:
        flat_list.append(item)

In [ ]:
flat_list

In [ ]:
actors_list = sorted(set(flat_list))

In [ ]:
actors_list

In [ ]:
binary_actors = [[0] * 0 for i in range(len(set(flat_list)))]

In [ ]:
for i in movies_data['cast']:

  k = 0
  for j in actors_list:
      if j in i:
          binary_actors[k].append(1.0)
      else:
          binary_actors[k].append(0.0)
      k+=1

In [ ]:
binary_actors = pd.DataFrame(binary_actors).transpose()

In [ ]:
binary_actors

In [ ]:
directors = []

for i in movies_data['director']:
    if pd.notna(i):
        director = re.split(r', \s*', i)
        directors.append(director)

In [ ]:
flat_list2 = []
for sublist in directors:
    for item in sublist:
        flat_list2.append(item)
        
directors_list = sorted(set(flat_list2))

In [ ]:
binary_directors = [[0] * 0 for i in range(len(set(flat_list2)))]

for i in movies_data['director']:
    k = 0
    for j in directors_list:
        if pd.isna(i):
            binary_directors[k].append(0.0)
        elif j in i:
            binary_directors[k].append(1.0)
        else:
            binary_directors[k].append(0.0)
        k+=1
        
binary_directors = pd.DataFrame(binary_directors).transpose()

In [ ]:
countries = []

for i in movies_data['country']:
    country = re.split(r', \s*', i)
    countries.append(country)
    
flat_list3 = []
for sublist in countries:
    for item in sublist:
        flat_list3.append(item)
        
countries_list = sorted(set(flat_list3))

In [ ]:

binary_countries = [[0] * 0 for i in range(len(set(flat_list3)))]

for i in movies_data['country']:
    k = 0
    for j in countries_list:
        if j in i:
            binary_countries[k].append(1.0)
        else:
            binary_countries[k].append(0.0)
        k+=1
        
binary_countries = pd.DataFrame(binary_countries).transpose()

In [ ]:
genres = []

for i in movies_data['listed_in']:
    genre = re.split(r', \s*', i)
    genres.append(genre)
    
flat_list4 = []
for sublist in genres:
    for item in sublist:
        flat_list4.append(item)
        
genres_list = sorted(set(flat_list4))

binary_genres = [[0] * 0 for i in range(len(set(flat_list4)))]

for i in movies_data['listed_in']:
    k = 0
    for j in genres_list:
        if j in i:
            binary_genres[k].append(1.0)
        else:
            binary_genres[k].append(0.0)
        k+=1
        
binary_genres = pd.DataFrame(binary_genres).transpose()

In [ ]:
ratings = []

for i in movies_data['rating']:
    ratings.append(i)

ratings_list = sorted(set(ratings))

binary_ratings = [[0] * 0 for i in range(len(set(ratings_list)))]

for i in movies_data['rating']:
    k = 0
    for j in ratings_list:
        if j in i:
            binary_ratings[k].append(1.0)
        else:
            binary_ratings[k].append(0.0)
        k+=1
        
binary_ratings = pd.DataFrame(binary_ratings).transpose()

In [ ]:
binary = pd.concat([binary_actors, binary_directors, binary_countries, binary_genres], axis=1,ignore_index=True)
binary

      0      1      2      3      4      ...  29109  29110  29111  29112  29113
0       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0  ...    1.0    0.0    0.0    0.0    0.0
4       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
5272    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
5273    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
5274    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5275    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5276    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[5277 rows x 29114 columns]

In [ ]:
actors2 = []

for i in tv_data['cast']:
    actor2 = re.split(r', \s*', i)
    actors2.append(actor2)
    
flat_list5 = []
for sublist in actors2:
    for item in sublist:
        flat_list5.append(item)
        
actors_list2 = sorted(set(flat_list5))

binary_actors2 = [[0] * 0 for i in range(len(set(flat_list5)))]

for i in tv_data['cast']:
    k = 0
    for j in actors_list2:
        if j in i:
            binary_actors2[k].append(1.0)
        else:
            binary_actors2[k].append(0.0)
        k+=1
        
binary_actors2 = pd.DataFrame(binary_actors2).transpose()
        

countries2 = []

for i in tv_data['country']:
    country2 = re.split(r', \s*', i)
    countries2.append(country2)
    
flat_list6 = []
for sublist in countries2:
    for item in sublist:
        flat_list6.append(item)
        
countries_list2 = sorted(set(flat_list6))

binary_countries2 = [[0] * 0 for i in range(len(set(flat_list6)))]

for i in tv_data['country']:
    k = 0
    for j in countries_list2:
        if j in i:
            binary_countries2[k].append(1.0)
        else:
            binary_countries2[k].append(0.0)
        k+=1
        
binary_countries2 = pd.DataFrame(binary_countries2).transpose()

genres2 = []

for i in tv_data['listed_in']:
    genre2 = re.split(r', \s*', i)
    genres2.append(genre2)
    
flat_list7 = []
for sublist in genres2:
    for item in sublist:
        flat_list7.append(item)
        
genres_list2 = sorted(set(flat_list7))

binary_genres2 = [[0] * 0 for i in range(len(set(flat_list7)))]

for i in tv_data['listed_in']:
    k = 0
    for j in genres_list2:
        if j in i:
            binary_genres2[k].append(1.0)
        else:
            binary_genres2[k].append(0.0)
        k+=1
        
binary_genres2 = pd.DataFrame(binary_genres2).transpose()

ratings2 = []

for i in tv_data['rating']:
    ratings2.append(i)

ratings_list2 = sorted(set(ratings2))

binary_ratings2 = [[0] * 0 for i in range(len(set(ratings_list2)))]

for i in tv_data['rating']:
    k = 0
    for j in ratings_list2:
        if j in i:
            binary_ratings2[k].append(1.0)
        else:
            binary_ratings2[k].append(0.0)
        k+=1
        
binary_ratings2 = pd.DataFrame(binary_ratings2).transpose()

In [ ]:
binary2 = pd.concat([binary_actors2, binary_countries2, binary_genres2], axis=1, ignore_index=True)
binary2

      0      1      2      3      4      ...  13566  13567  13568  13569  13570
0       0.0    0.0    0.0    0.0    0.0  ...    1.0    0.0    1.0    0.0    0.0
1       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
2       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
2017    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2018    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2019    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
2020    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2021    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0

[2022 rows x 13571 columns]

Recommendarion engine

In [ ]:
def recommender(search):
    cs_list = []
    binary_list = []
    if search in movies_data['title'].values:
        idx = movies_data[movies_data['title'] == search].index.item()
        for i in binary.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]    
        for j in range(len(movies_data)):
            binary_list2 = []
            for k in binary.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        movies_copy = movies_data.copy()
        movies_copy['cos_sim'] = cs_list
        results = movies_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    elif search in tv_data['title'].values:
        idx = tv_data[tv_data['title'] == search].index.item()
        for i in binary2.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]
        for j in range(len(tv_data)):
            binary_list2 = []
            for k in binary2.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        tv_copy = tv_data.copy()
        tv_copy['cos_sim'] = cs_list
        results = tv_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    else:
        return("Title not in dataset. Please check spelling.")

In [ ]:
recommender('Bombay')

       type  ...   cos_sim
2694  Movie  ...  0.603023
3029  Movie  ...  0.603023
985   Movie  ...  0.585369
480   Movie  ...  0.572078
2855  Movie  ...  0.569803

[5 rows x 9 columns]